/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


// This makes the hamburger icon
.icon-container{
	width: 60px;
	background-color: $navred;
	padding: 12px;
    border-radius: 50px;
}

.hamburger {
	width: 35px;
    margin: auto;
	cursor: pointer;
	.bars {
		margin-top: 5px;
		background: #DAA520;
		height: 5px;
		width: 35px;
		border-radius: 2.5px;
		position: relative;
		@media(min-width: 600px){
		height: 6px;
		width: 47px;
		}
	}
	.meat-cheese {
		background: #8B4513;
		&::after {
			border: 5px solid yellow;
			border-color: yellow transparent transparent transparent;
			position: absolute;
			content: "";
			bottom: -10px;
			right: 4px;
			z-index: 99;
			display: none;
		}
	}
	.top-bread {
		overflow: hidden;
		transition: .3s all ease-in-out;
		position: relative;
		top: 0;
	}
	.seed-container {
		margin-left: 10px;
		.seed {
			display: none;
			width: 3px;
			height: 2px;
			background-color: #fdf1cb;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
			top: -10px;
			position: relative;
			-webkit-transform: rotate(110deg);
			-moz-transform: rotate(110deg);
			-ms-transform: rotate(110deg);
			-o-transform: rotate(110deg);
			transform: rotate(110deg);
		}
	}
	&.expanded {
		.meat-cheese::after {
			display: block;
		}
		.top-bread {
			height: 18px;
			border-bottom: 3px solid green;
			border-radius: 20px 20px 2.5px 2.5px;
			.seed {
				display: inline-block;
			}
		}
		.bread {
			border-top: 2px solid red;
		}
		.meat-cheese {
			border-bottom: 1px solid yellow;
		}
	}
}


