// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;


$star : #FF8900;
$ctared : #D0021B;
$intro : #005272;
$featureblue : #D1F1FF;
$workblue : #007BB1;
$aboutblue: #00293A;
$footerred : #5A000B;
$navred : #E8525B;
// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


$opensans : "open_sans_condensed", "Arial", sans-serif;
$londrina : "londrina_solid", "Arial", sans-serif;
$button : "fredoka", "Arial", sans-serif;